TJ_API_BASE_URL=
TJ_SECURITY_TOKEN=
NEXT_PUBLIC_TJ_API_BASE_URL=
NEXT_PUBLIC_TJ_SECURITY_TOKEN=
NEXTAUTH_SECRET="i6leyR3mKULnDzMqBV4J5BOdq7mvZsFHhM7X3J14w14="
JWT_SECRET="i6leyR3mKULnDzMqBV4J5BOdq7mvZsFHhM7X3J14w14="
### ONLY ADD NEXTAUTH_URL IF YOU'RE RUNNING THE BACKEND WITH THE SAME DOMAIN AND PORT, DEFAULT VALUE OF NEXTAUTH_URL IS THE CANONICAL URL OF THIS APP
NEXTAUTH_URL=http://localhost:3001